*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: hsl(231, 69%, 60%);
    --secondary-color: hsl(0, 94%, 66%);
    --neutral-white: hsl(0, 0%, 97%);
    --neutral-gray: hsl(229, 31%, 21%);
    --theme: hsl(0, 0%, 100%);
    --primary-color-font: hsl(0, 0%, 0%);
    --secondary-color-font: hsla(0, 0%, 0%, 0.4);
    --inversor-font: hsl(0, 0%, 100%);
}

body.dark {
    --neutral-white: hsl(250, 100%, 6%);
    --neutral-gray: hsl(230, 21%, 5%);
    --theme: hsl(249, 100%, 10%);
    --primary-color-font: hsl(0, 0%, 100%);
}

body {
    background-color: var(--theme);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2rem 0 1rem 0;
    background-color: var(--theme);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-list{
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;

    a{
        color: var(--primary-color-font);
        transition: 0.3s;

        &:hover{
            color: var(--secondary-color);
        }
    }
}

.header-content{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-theme{
    background: none;
    border: none;
    cursor: pointer;
    width: 2rem;

    img{
        width: 100%;
    }
}

li{
    width: 90%;
}

.btn-hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 200;
}

.btn-hamburguer span {
    width: 28px;
    height: 3px;
    background: var(--primary-color-font);
    display: block;
    transition: 
        transform 0.4s ease,
        opacity 0.3s ease,
        translate 0.4s ease;
}

.btn-hamburguer.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.btn-hamburguer.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.btn-hamburguer.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 630px) {

    .btn-hamburguer {
        display: flex;
        padding-left: 14rem;

        @media (max-width: 410px) {
            padding-left: 8rem;
        }
    }

    .header-content nav {
        position: fixed;
        top: 0;
        right: 0;
        background: hsla(0, 0%, 0%, 0.45);
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: none;
    }

    .header-content nav.active {
        display: block;
        animation: slideIn 0.3s ease;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        gap: 2rem;
        text-align: center;

        li::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 0.5rem 0;
            background: var(--primary-color-font);
        }
    }

    .btn-theme {
        display: none;
    }

    .header-content nav.active ~ .btn-theme {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 160;
    }

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}