*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
    width: 8px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background: var(--neutral-white);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
}

#features, #pricing, #contact{
    scroll-margin-top: 100px;
}

:root {
    --primary-color: hsl(231, 69%, 60%);
    --secondary-color: hsl(0, 94%, 66%);
    --neutral-white: hsl(0, 0%, 85%);
    --neutral-gray: hsl(229, 31%, 21%);
    --theme: hsl(0, 0%, 95%);
    --primary-color-font: hsl(251, 100%, 3%);
    --secondary-color-font: hsla(0, 0%, 0%, 0.6);
    --inversor-font: hsl(0, 0%, 100%);
    --header-background: hsla(245, 33%, 61%, 0.884);
}

body.dark {
    --theme: hsl(249, 100%, 10%);
    --primary-color-font: hsl(0, 0%, 100%);
    --secondary-color-font: hsla(0, 0%, 100%, 0.6);
    --primary-color: hsl(231, 98%, 52%);
    --neutral-white: hsla(243, 100%, 19%, 0.507);
    --neutral-gray: hsl(229, 50%, 70%);
    --header-background: hsla(0, 0%, 0%, 0.884);
}

body {
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2rem 0 1rem 0;
    background-color: var(--theme);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-list{
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;

    a{
        color: var(--primary-color-font);
        transition: 0.3s;

        &:hover{
            color: var(--secondary-color);
        }
    }
}

.header-content{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-theme{
    background: none;
    border: none;
    cursor: pointer;
    width: 2rem;

    img{
        width: 100%;
    }
}

li{
    width: 90%;
}

.btn-hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 200;
}

.btn-hamburguer span {
    width: 28px;
    height: 3px;
    background: var(--primary-color-font);
    display: block;
    transition: 
        transform 0.4s ease,
        opacity 0.3s ease,
        translate 0.4s ease;
}

.btn-hamburguer.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.btn-hamburguer.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.btn-hamburguer.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 630px) {

    .btn-hamburguer {
        display: flex;
        padding-left: 14rem;

        @media (max-width: 410px) {
            padding-left: 8rem;
        }
    }

    .header-content nav {
        position: fixed;
        top: 0;
        right: 0;
        background: var(--header-background);
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: none;
        backdrop-filter: blur(6px);
    }

    .logo-header{
        z-index: 160;
    }

    .header-content nav.active {
        display: block;
        animation: slideIn 0.3s ease;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        gap: 2rem;
        text-align: center;

        li::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 0.5rem 0;
            background: var(--primary-color-font);
        }
    }

    .btn-theme {
        display: none;
    }

    .header-content nav.active ~ .btn-theme {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 160;
    }

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 6rem;
    max-width: 1400px;
    width: 100%;
}

.content-hero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    h1{
        font-size: clamp(1.8rem, 2.5vw, 3rem);
        color: var(--primary-color-font);
        font-weight: 500;
    }

    p{
        color: var(--secondary-color-font);
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
        font-weight: 400;
    }
}

.buttons-hero{
    display: flex;  
    gap: 1.5rem;
    margin-top: 1rem;
}

.main-btn{
    padding: 0.7rem 1rem;
    background-color: var(--primary-color);
    color: var(--inversor-font);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 5px 0px rgba(18,0,51,0.4);

    &:hover {
        border: 2px solid var(--primary-color);
        background-color: transparent;
        color: var(--primary-color);
    }
}

.btn-firefox{
    padding: 0.7rem 1rem;
    background-color: var(--neutral-white);
    color: var(--neutral-gray);
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.377);

    &:hover {
        border: 2px solid var(--neutral-gray);
        background-color: transparent;
    }
}
@media (max-width: 630px) {
    .main-btn, .btn-firefox{
        font-size: 0.5rem;
    }
}   

.image-hero{
    width: 100%;
    position: relative;

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 75%;
        height: clamp(10rem, 22vw, 28rem);
        top: clamp(18%, 25vw, 25%);
        right: clamp(-6rem, -9vw, -2rem);
        z-index: -1;
        border-radius: 50rem 0 0 50rem;
        background: var(--primary-color);
    }

    img{
        width: 100%;
    }
}

#features{
    display: flex;
    gap: 5rem;
    margin-top: 4rem;
    flex-direction: column;
    max-width: 1400px;
}

.content-features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &::after{
        content: "";
        display: block;
        width: 34%;
        height: 1px;
        background: var(--secondary-color-font);
        margin-top: -1rem;
    }
}

.text-features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40%;
    text-align: center;
    align-items: center;
    color: var(--secondary-color-font);
}

.subTitle{
    color: var(--primary-color-font);
    font-size: clamp(1rem, 2vw, 2.2rem);
    font-weight: 500;
}

.secondary-text{
        color: var(--secondary-color-font);
        font-size: clamp(0.6rem, 1.5vw, 1.2rem);
        font-weight: 400;
        
        @media (max-width: 630px) {
            width: 80%;
        }
    }

    @media(max-width: 800px) {
        .text-features{
            max-width: 70%;
        }
    }

.buttons-features{
    display: flex;
    gap: 1.5rem;
}

.btn-features-one, .btn-features-two, .btn-features-three{
    background: transparent;
    border: none;
    color: var(--secondary-color-font);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.3s ease-in-out;

    &:hover{
        color: var(--secondary-color);
    }
}

.btn-features-one.active, .btn-features-two.active, .btn-features-three.active{
    color: var(--primary-color-font);
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::after{
        content: "";
        display: flex;
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--secondary-color);
        margin-top: 0.85rem;
    }
}

.cards-features-one, .cards-features-two, .cards-features-three{
    display: none
}

.cards-features-one.active, .cards-features-two.active, .cards-features-three.active{
    display: flex;
    max-width: 1400px;
    width: 100%;
    padding: 0rem 6rem;
    gap: 6rem;
}

.text-features-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.image-features-card{
    width: 100%;
    position: relative;

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 120%;
        height: clamp(8rem, 22vw, 28rem);
        top: clamp(10%, 25vw, 18%);
        left: clamp(-6rem, -10vw, -28rem);
        z-index: -1;
        border-radius: 0 50rem 50rem 0;
        background: var(--primary-color);
    }

    img{
        width: 100%;
    }
}

@media (max-width: 965px) {
    .container-hero{
        flex-direction: column-reverse;
        padding: 2rem;
        margin-top: 4rem;
        text-align: center;
    }

    .buttons-hero{
        justify-content: center;
    }

    .buttons-features{
        flex-direction: column;
        position: relative;
    }

    .btn-features-one, .btn-features-two, .btn-features-three{
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: var(--neutral-white);
            margin-top: 0.85rem;
        }
    }
    .content-features{
    &::after{
        width: 0;
        height: 0;
    }
}

    .cards-features-one.active, .cards-features-two.active, .cards-features-three.active{
        flex-direction: column;
        gap: 2rem;
    }

    .text-features-card{
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
}

#pricing{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 8rem;
    justify-content: center;
    padding: 6rem;
    max-width: 1440px;
    width: 100%;
}

.content-pricing{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 60%;
    text-align: center;

    @media (max-width: 630px) {
        width: 130%;
    }
}

.cards-pricing-add{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    gap: 4rem;
}

.firefox{
    margin-top: 4rem;
}

.opera{
    margin-top: 8rem;
}

.card-pricing{
    box-shadow: 0px 4px 8px -4px var(--header-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 1.2rem;
    border-radius: 20px;
    height: 78%;
}

.text-pricing{
    text-align: center;

    h3{
        font-size: clamp(1rem, 2.5vw, 1.2rem);
        color: var(--primary-color-font);
        font-weight: 500;
    }

    p{
        color: var(--secondary-color-font);
        font-size: clamp(0.6rem, 1.5vw, 1rem);
        font-weight: 400;
    }
}

.bg-dots{
    width: 100%;
    margin: 1rem 0 0.3rem 0;

    img{
        width: 100%;
    }
}

@media (max-width: 985px) {
    #pricing{
        padding: 2rem;
    }
    

    .cards-pricing-add{
    grid-template-columns: 1fr;
    margin-top: 4rem;
    gap: 4rem;
}

.firefox{
    margin-top: 0rem;
}

.opera{
    margin-top: 0rem;
}

.card-pricing{
    padding: 1rem;
    height: 100%;
}
}

#faq{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
    padding: 6rem;
    max-width: 1440px;
    width: 100%;

    @media (max-width: 630px) {
        padding: 2rem;
    }
}

.content-faq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 60%;
    text-align: center;

    @media (max-width: 630px) {
        width: 100%;
    }
}

.container-faq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-top: 3rem;
}

.btn-faq{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: var(--primary-color-font);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 1rem;

    &:hover{
        color: var(--secondary-color);
    }
}

.answer-div{
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: var(--secondary-color-font);
        margin-bottom: 1rem;
    }
}

.answer{
    display: none;
}

.answer.active{
    display: block;
    color: var(--secondary-color-font);
    font-size: clamp(0.6rem, 1.5vw, 1rem);
    margin-bottom: 1rem;
    font-weight: 400;
}

@media (max-width: 900px) {
    .container-faq{
        width: 100%;
    }
}

@media (max-width: 430px) {
    .btn-faq{
        font-size: 0.8rem;
    }
}

#contact{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
    background-color: var(--primary-color);
    max-width: 1440px;
    width: 100%;
}

.content-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;

    p{
        color: var(--theme);
        margin-bottom: 1rem;
    }

    h2{
        color: var(--theme);
        max-width: 400px;
        margin-bottom: 0.8rem;
    }
}

form{
    display: flex;
    gap: 1rem;
}

.input-group{
    position: relative;
    width: 60%;
}

.input-group input{
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.input-group input.error{
    border: 2px solid var(--secondary-color);
    box-shadow: 0 30px 0 0 var(--secondary-color);
}

.error-message{
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    font-size: 0.75rem;
    font-style: italic;
    color: white;
    padding-left: 0.6rem;
    display: none;
}

.input-group input.error + .error-message{
    display: block;
}

.btn-ctct{
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 40%;
    background-color: var(--secondary-color);
    color: var(--theme);
    cursor: pointer;

    &:hover{
        background: #FFF;
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
    }
}

@media (max-width: 400px) {
    .content-contact h2{
        max-width: 270px;
        font-size: 1rem;
    }

}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.89);
    width: 100%;
    max-width: 1440px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem 0 1rem 0;
}

.footer-links{
    display: flex;
    gap: 2rem;

    ul{
        display: flex;
        align-items: center;
        gap: 1rem;

        li a{
            color: #FFF;
            transition: 0.3s;

            &:hover{
                color: var(--secondary-color);
            }
        }
    }
}

.social-media {
    display: flex;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 630px) {
    .footer{
        flex-direction: column;
    }

    .footer-links{
    flex-direction: column;

    ul{
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem;
    }
}
}